body, html {
    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.loading-overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .25s ease-in-out;

    &.active {
        pointer-events: initial;
        opacity: 1;
    }
}

.vote-overlays {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    z-index: 50;
    pointer-events: none;

    &.active {
        opacity: 1;
    }

    .up, .down {
        z-index: 51;
        position: absolute;
        width: 20%;
        top: 0;
        bottom: 0;
        opacity: .5;
        font-size: 6em;
        color: #FFF;
        transition: opacity .15 ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            opacity: .8;
        }
    }

    .up {
        left: 0;
        background-color: rgb(24, 188, 9);
    }

    .down {
        right: 0;
        background-color: rgb(234, 52, 28);
    }
}

.buffer {
    // debug
    display: none;

    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    height: 100px;

    > img {
        width: 100px;
        height: 100px;
    }
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        object-fit: cover;
    }

    .front {
        position: absolute;
        max-width: 100%;
        min-height: 100%;
        z-index: 2;
    }

    .back {
        transform: scale3d(.7, .7, 1);
    }

    .front.animating, .back.animating {
        pointer-events: none;
        transition: transform .25s ease-out;
    }
}

// spinner
.spinner {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

