<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <title>Picwiz</title>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/en-gb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    
</head>
<body>
    <a href="?detail=true">more Detail (will load longer)</a>
    <br>
    <a href="?">less details</a>
    <p>
        Pictures: <%= stats.Pictures %>
    </p>
    <p>
        Votes: <%= stats.Votes %>
    </p>

    <h3>Pictures per votes:</h3>

    <%= for (count) in stats.VoteCounts { %>
        <p><%= count.Count %> pictures have <%= count.Votes %> votes</p>
    <% } %> 
    <p></p>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        data = [
            <%= for (vote) in stats.AllVotes { %>
                {
                    time: "<%= vote.CreatedAt %>"
                },
            <% } %> 
            ]
    const groupBy = function(xs, extractor) {
        return xs.reduce(function(rv, x) {
            const group = extractor(x)
            (rv[group] = rv[group] || []).push(x);
        return rv;
        }, {});
    };
    
        var times = data.map(vote => moment(vote.time))
        
        var buckets = groupBy(times, date => date.startOf('hour').toString())
    
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(buckets),
                datasets: [{
                    label: '# of Votes',
                    data: Object.keys(buckets).map(bucket => buckets[bucket]),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
</body>