<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <title>Picwiz</title>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
    <p>
        Pictures: <%= stats.Pictures %>
    </p>
    <p>
        Votes: <%= stats.Votes %>
    </p>

    <h3>Pictures per votes:</h3>

    <%= for (count) in stats.VoteCounts { %>
        <p><%= count.Count %> pictures have <%= count.Votes %> </p>
    <% } %> 
    <p></p>
</body>