<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Picwiz</title>
    <%= stylesheetTag("home.css") %>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
</head>
<body>
    <div class="loading-overlay active" id="loading-overlay">
        <div class="spinner"></div>
    </div>

    <div class="buffer">
        <%= for (id) in preloadImages { %>
        <img
            class="preload"
            src="/static/<%= id %>.jpg"
            alt="<%= id %>"
            data-pic-id="<%= id %>"
        >
        <% } %>
    </div>

    <div class="main">
        <img id="main-1" alt="main1">
        <img id="main-2" alt="main2">
    </div>

    <%= javascriptTag("voter.js") %>
</body>
